<section class="section product-section">
  <div class="container">
    <h2 class="product-title">Some of Our Favorites</h2>
    <p class="product-subtitle">Looking for something delicious?</p>
    <ul class="product-list">
      <li class="product-item">
        <img
          src="/img/product/gamburger-min.jpg"
          alt="gamburger"
          width="315"
          height="315"
        />
        <h3 class="product-name">Gamburger</h3>
      </li>
      <li class="product-item">
        <img
          src="/img/product/Pasta-min.jpg"
          alt="Pasta"
          width="315"
          height="315"
        />
        <h3 class="product-name">Pasta</h3>
      </li>
      <li class="product-item">
        <img
          src="/img/product/pizza-min.jpg"
          alt="Pizza"
          width="315"
          height="315"
        />
        <h3 class="product-name">Pizza</h3>
      </li>
      <li class="product-item">
        <img
          src="/img/product/chicken-min.jpg"
          alt="Chicken"
          width="315"
          height="315"
        />
        <h3 class="product-name">Chicken</h3>
      </li>
      <li class="product-item">
        <img
          src="/img/product/salat-min.jpg"
          alt="Salat"
          width="315"
          height="315"
        />
        <h3 class="product-name">Salat</h3>
      </li>
      <li class="product-item">
        <img
          src="/img/product/borshch-min.jpg"
          alt="borshch"
          width="315"
          height="315"
        />
        <h3 class="product-name">Borshch</h3>
      </li>
    </ul>
  </div>
</section>
